.loader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('img/3.gif') 50% 50% no-repeat #fff;
    opacity: 1;
}

.plusminus {
    border: 2px solid #00aeff !important;
    color: #00aeff !important;
    border-radius: 50% !important;
    font-weight: bold !important;
    font-size: 50px !important;
    background: rgb(255 0 0 / 0%) !important;
    padding-bottom: -30px;
    width: 80px !important;
    height: 80px !important;
    line-height: 45px !important;
}

.plusminus:hover {
    color: white !important;
    background: #00aeff !important;
}

.plusminus:focus {
    outline: none !important;
}

.phone {
    display: none;
}

.button {
    font-weight: 700;
    font-size: 2rem;
    line-height: 1.125rem;
    letter-spacing: .7px;
    letter-spacing: .1125rem;
    text-transform: uppercase;
    display: block;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: #fff;
    margin: auto;
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
    background-color: #ff700a;
    border: 2px solid #ff700a;
    border-radius: 0;
    transition: all .1s;
    width: 100%;
    outline: none;
    white-space: normal;
    margin-bottom: 4rem;
}

.button:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}

.gender,
.smoker {
    display: flex;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 60px;
}

form {
    margin-right: auto;
    /* 1 */
    margin-left: auto;
    /* 1 */
    max-width: 58em;
    /* 2 */
    padding-right: 30px;
    /* 3 */
    padding-left: 30px;
    /* 3 */
    margin-top: 50px;
}

.age {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-bottom: 2rem;
    background: white;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    border: 1px solid #d6d6d6;
}

.age div:first-child {
    padding-top: .75rem;
    padding-right: .75rem;
    padding-bottom: 1.3rem;
    padding-left: 1.5rem;
    border-bottom: 1px solid #d6d6d6;
    width: 100%;
}

input[type=text],
select {
    border: 0;
    outline: 0;
    background: transparent;
    font-size: 20px;
    margin: 0;
    padding-top: 1.2rem;
    padding-right: .75rem;
    padding-bottom: .25rem;
    padding-left: 1.5rem;
}

.radio-gender {
    margin-bottom: 2rem;
    background: white;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    padding-left: 25px;
    padding-right: 25px;
    border: 1px solid #d6d6d6;
    font-size: 18px;
}

.radio-smoker {
    margin-bottom: 2.5rem;
    background: white;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    padding-left: 25px;
    padding-right: 25px;
    border: 1px solid #d6d6d6;
    font-size: 18px;
}

.radio-gender input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
}

.radio-smoker input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
}

.radio-gender label {
    display: inline-block;
    background-color: white;
    border: 2px solid #d6d6d6;
    width: 100%;
    padding-top: .875rem;
    padding-bottom: .875rem;
    text-align: center;
    vertical-align: middle;
    color: grey;
    cursor: pointer;
}

.radio-smoker label {
    display: inline-block;
    background-color: white;
    border: 2px solid #d6d6d6;
    width: 100%;
    padding-top: .875rem;
    padding-bottom: .875rem;
    text-align: center;
    vertical-align: middle;
    color: grey;
    cursor: pointer;
}

.radio-gender label:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.radio-smoker label:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.radio-gender input[type="radio"]:focus+label {
    border: 2px dashed #444;
}

.radio-smoker input[type="radio"]:focus+label {
    border: 2px dashed #444;
}

.radio-gender input[type="radio"]:checked+label {
    background-color: #00aeff;
    border-color: rgb(143, 143, 145);
    color: white;
}

.radio-smoker input[type="radio"]:checked+label {
    background-color: #00aeff;
    border-color: rgb(143, 143, 145);
    color: white;
}

h1 {
    text-align: center;
}

h4 {
    text-align: center;
}

@media (max-width:768px) {
    .icons {
        display: none;
    }
    .phone {
        display: flex;
    }
    form {
        padding-right: 0px;
        padding-left: 0px;
        margin-top: 20px;
    }
    h1 {
        font-size: 26px;
        margin-top: 75px;
    }
    h4 {
        font-size: 16px;
    }
    .border {
        background: white;
    }
    .flex {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-right: 15px;
        margin-left: 15px;
    }
    .form-box {
        text-align: center;
        margin-top: 75px;
    }
    input[type=text],
    select {
        font-size: 20px;
    }
    input[type=submit] {
        background-color: #545754;
        color: white;
        padding: 14px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    input[type="radio"] {
        display: inline-block;
        vertical-align: middle;
        border: 2px solid rgba(77, 121, 202, 0.5);
        border-radius: 50%;
        cursor: pointer;
        font: inherit;
        height: 2.0em;
        outline: none;
        width: 2.0em;
        margin-top: -1px;
        -moz-appearance: none;
        -webkit-appearance: none;
    }
    .plusminus {
        width: 60px!important;
        height: 60px !important;
        line-height: 30px !important;
        font-size: 45px !important;
    }
}